.global-card {
  display: flex;
  align-items: center;
  justify-content: start;
  // CHANGES BY SCREEN SIZE
  gap: 80px;
  background-color: $alabaster;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px -11px;
  // ARBITRARY VALUES:
  min-height: 26rem;
  height: 27rem;
  width: 65%;
}
